{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.title }}</h2>

    <div class=" my-2">
        <img src="{{ listing.url }}" style="height: 320px;" alt="Image not available">
    </div>


    <div class="mb-2">{{ listing.descp }}</div>

    <h3>Rs. {{ listing.price.bid }}</h3>

    {% if user.is_authenticated and listing.isActive %}
    
        {% if listing.price.bidder == user %}

            <p>Current Bid is Yours</p>

        {% else %}

            <p>Current Bid is of {{listing.price.bidder}}</p>

        {% endif %}
    
        {% if Bmessage %}

            {% if success %}

                <div class="alert alert-success">
                    {{ Bmessage }}
                </div>

            {% else %}

                <div class="alert alert-warning">
                    {{ Bmessage }}
                </div>

            {% endif %}
            
        {% endif %}
        
        <form action="{% url 'addBid' listing.id%}" method="post">

            {% csrf_token %}
            <div class="form-group">
                <input class="form-control w-25" type="number" name="bid" placeholder="Bid" required>
            </div>
            
            <input class="btn btn-primary" type="submit" value="Place Bid">
        </form>

    {% endif %}

    <h4 class="mt-3">Details:</h4>

    <li>Listed by {{ listing.owner }}</li>

    <li>
        {% if listing.category %}

            Category: {{ listing.category }}

        {% else %}

            Category: No Category Listed

        {% endif %}
    </li>

    

    {% if not listing.isActive and user == listing.price.bidder %}

        <p class="text-success fw-bold mt-3" style="font-size: 20px;">Congratulations! You won the Auction</p>

    {% elif not listing.isActive %}

        <p class="text-danger fw-bold mt-3" style="font-size: 20px;">The Auction has ended</p>

    {% endif %}

    {% if user.is_authenticated and listing.isActive %}

        {% if user == listing.owner %}

            <div class="my-3">
                <a href="{% url 'closeAuction' listing.id %}" class="btn btn-danger">Close Auction</a>
            </div>

        {% endif %}

        {% if isadded %}

            <div class="my-3">
                <a href="{% url 'removeWatchList' listing.id %}" class="btn btn-warning">Remove From Watchlist</a>
            </div>

        {% else %}

            <div class="my-3">
                <a href="{% url 'addWatchList' listing.id %}"class="btn btn-info">Add to Watchlist</a>
            </div>

        {% endif %}



    {% endif %}

    <h4>Comments:</h4>
    
    {% for comment in comments %}

        <div>{{ comment.writer }}: </div>
        <div>{{ comment.message }}</div>
        <hr>

    {% empty %}

        No Comments.
        <hr>

    {% endfor %}

    {% if user.is_authenticated %}
        
        <p>Add a comment</p>

        <form action="{% url 'addComment' listing.id%}" method="post">
            
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" type="text" name="comment" placeholder="Comment here" required>
            </div>
            
            <input class="btn btn-primary" type="submit" value="Post">
        </form>

    {% endif %}
    
{% endblock %}